.main-container {
  padding: 2rem 1rem;
  width: 86%;
}
.show-trailer img {
  width: 100%;
}

.wrapper-movie {
  width: 95%;
  margin: 0 auto;
}

.show-trailer {
  position: relative;
  width: 100%;
}

.play-btn {
  position: absolute;
  top: 36%;
  left: 47%;
  height: 5rem;
  width: 5rem;
  border: none;
  border-radius: 50%;
  padding: 1rem;
  background: rgbA(255, 255, 255, 0.55);
  backdrop-filter: 105px;
}

.movie-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1rem 0rem 1rem;
}

.movie-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  margin: 0.2rem 0.5rem;
}

.dot {
  height: 0.4rem;
  width: 0.4rem;
  border-radius: 50%;
  background-color: black;
}

.movie-info p {
  margin: 0 0.5em;
}

.genre {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.small-card {
  border: 2px black solid;
  margin-right: 1rem;
  font-size: 0.65rem;
  padding: 0.3rem 0.75rem;
  border-radius: 1rem;
}

.movie-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.movie-rating p {
  margin-left: 0.75rem;
}

.about-movie {
  width: 50%;
  font-size: 90%;
  font-weight: 500;
  margin-right: 0.5rem;
}

.about-para {
  line-height: 1.8;
  margin-bottom: 2rem;
}

.crew_cast {
  margin-bottom: 1.5rem;
}

.accomplishment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 0.1px solid gray;
  border-radius: 0.5rem;
  font-weight: 600;
}

.top-rated {
  background-color: red;
  height: 100%;
  padding: 1rem;
  border-radius: 0.4rem;
  color: #fff;
}

.award {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
}

.other-movies {
  width: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  padding-top: 2.5rem;
}

.btn-other-movies {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  padding: 0.5rem 0;
  background-color: #fff;
  border: 0.5px solid #be123c;
}

.red {
  background-color: #be123c;
  color: #fff;
  border: none;
}

.btn-other-movies img {
  padding-right: 1rem;
}
