@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@1,9..40,600&family=Poppins&display=swap");
.nav-movie-container {
  width: 14%;
  border: 1px solid #808080;
  border-radius: 0 2rem 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 55%;
  font-family: "Poppins", sans-serif;
  padding: 1rem 0;
}

.nav-movie-container .flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0 0.5rem 0;
  text-align: center;
  padding: 2rem 1rem;
}

.box h1 {
  color: rgb(0, 0, 0);
}

.box h2 {
  color: #666666;
}

.box-img {
  width: 50%;
  text-align: right;
}

.box-text {
  text-align: left;
  color: white;
  width: 50%;
}

.bonanza-container {
  width: 75%;
  margin: 0 auto 3rem auto;
  border: 1px solid #b91c1c;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 1rem;
  border-radius: 10px;
}

.bonanza-container h3 {
  font-size: 0.77rem;
}

.bonanza-container h3 span {
  font-size: 0.6rem;
  display: block;
  margin-top: 1em;
  color: rgba(51, 51, 51, 0.8);
  margin-bottom: 0.75rem;
}

.btn {
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: rgba(185, 28, 28, 0.2);
  border: none;
  color: rgb(185, 28, 28);
  font-size: 0.75rem;
  font-weight: 600;
}

.logout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  font-size: 0.75rem;
}

.logout-container h3 {
  margin-left: 1rem;
}

.active {
  background-color: #be123c1a;
}

.active h2 {
  color: #be123c;
}
